@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button{
    border: 0px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header .left, .header .right{
    margin-left: 8%;
    margin-right: 8%;
}

.header .left{
    color: #F9FAF8;
    font-size: 24px;
    font-weight:550;
}

.header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 100px;
}
.hero .body{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.hero .body .main{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    
}

.hero .body .secondary{
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}

.hero .body button{
    margin-top: 10px;
    border-radius: 6px;
    background: #3882F6;
    color: #f9faf8;
    width: 120px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
}

.hero img{
    width: 500px;
    border-radius: 2px;
}